* {
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.logo {
}
.header-logo {
}
.hero {
}
.hero-right {
}
.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.signup {
}
.hero-left {
}
.fetures .title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.growth {
}
.cap-title {
}
.caption {
}
.security {
}
.speed {
}
.support {
}
.quote-div {
  background-color: #e5e7eb;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.qoute-owner {
}
.action {
}
.how-to-sign {
}
.footer {
}
.header,
.hero,
.footer {
  background-color: #1f2937;
}
.secondry-text,
.header-link {
  font-size: 18px;
  color: #cdcfd3;
}
a {
  text-decoration: none;
}
.call-to-action,
.signup {
  background-color: #3882f6;
}
.header-links {
  display: flex;
  gap: 8px;
  margin-right: 24px;
}
ul {
  list-style: none;
}
