* {
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border-radius: 5px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 800;
  border: none;
}
.header {
  margin: 0;
  padding: 4px;
}
.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-links {
  display: flex;
  gap: 48px;
  margin-right: 64px;
}
.hero {
  display: flex;
  padding: 148px;
}
.hero-right {
}
.hero-left {
  display: flex;
  max-width: 420px;
}
.main-text,
.secondry-text {
  width: 420px;
}
.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.signup {
}
.growth {
}
.security {
}
.speed {
}
.support {
}
.cap-title {
}
.caption {
}
.quote-div {
  background-color: #e5e7eb;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.qoute-owner {
}
.action {
}
.how-to-sign {
}
.call-to-action .signup {
  border: 2px solid white;
}
.footer {
}
.header,
.hero,
.footer {
  background-color: #1f2937;
}
.secondry-text,
.header-link {
  font-size: 18px;
  color: #cdcfd3;
}
.call-to-action,
.signup {
  background-color: #3882f6;
  color: #fff;
}
.fetures .title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
